<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    <style>
        table tr td{
            width: 50px;
            height: 50px;
        }
        .color1{
            background-color: black;
            
        }
        .color2{
            background-color: rgb(217, 26, 26);
            
        }
        

    </style>
</head>
<body>
    <h1>display 8 by 8</h1>
    <table>
    {% for i in range(num): %}
        <tr>
            {% for j in range(num): %}
            <td class='color1'></td>
            <td class='color2'></td>
            {% endfor %}    
        </tr>
        <tr>
            {% for j in range(num): %}
            <td class='color2'></td>
            <td class='color1'></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    
</body>
</html>
                

        
